<div class="comments">
	<div class="panel panel-success">
		<div class="panel-heading">
			<h1 class="panel-title">
				<%= comment.name %>
				</h1>
		</div>

		<div class="panel-body post-preview">
			<%= comment.body %>
			<p class="post-meta">
		  	<%= time_ago_in_words(comment.created_at) %> Ago 
	
		<hr>
		<% if user_signed_in? %>
			<p><%= link_to 'Delete', [comment.post, comment],method: :delete, class: "btn btn-xs btn-default", data: { confirm: 'Are you sure?' }  %>
			</p>
			<% end %>
		</div>			
			

		
	</div>


</div>