
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 style="color: white">F-coders Blog</h1>
                    <hr class="small">
                    <span class="subheading">Developers And News Blog</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<div class="container">
<div class="post-preview">
<h1> Add Posts</h1>
<div class="row">
<div class="col-md-8">

<%= render 'form' %>

</div>
</div>
</div>
</div>
